<div class="jumbotron center" id ="top">
	<div class="container">
	  <h1>Welcome to MyRecipes App</h1>
	  <h3>This is the home page of the Professional Ruby on Rails Developer on UDemy.</h2>
	  <br>
	  <p><%= link_to "Sign Up Now!", "#",class:"btn btn-large btn-info" %></p>
	  
	</div>
</div>
<div class="container categories">
	<div class="col-lg-4">
		<div class="ads">
			<h3>View Recipe as Guest</h3>
			<h4>Browse and view recipes as guest</h4>
			<p><%= link_to "Browse Recipes", "#", class:"btn btn-warning btn-small" %></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ads">
			<h3>View Recipe as Guest</h3>
			<h4>Browse and view recipes as guest</h4>
			<p><%= link_to "Browse Recipes", "#", class:"btn btn-warning btn-small" %></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ads">
			<h3>View Recipe as Guest</h3>
			<h4>Browse and view recipes as guest</h4>
			<p><%= link_to "Browse Recipes", "#", class:"btn btn-warning btn-small" %></p>
		</div>
	</div>
</div>

	

