@import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding-top: 50px;
	margin:0 auto;
	padding-bottom: 300px !important;
}

a:hover {
	text-decoration:none !important;
}

.ads{
	text-align:center;
	height: 250px;
	background-color: #239e5f;
	border-radius:10px;
	box-sizing:border-box;
	padding-bottom: 20px;
	margin-bottom: 30px;
	h3{
		padding-top: 30px;
		font-size: 1.5em;
		font-weight: 400;
		letter-spacing: 1px;
	}
	h4{
		font-size: 1.15em;
		font-weight: 300;
	}
}
.ads>p a{
	margin-top: 30px;
}
.categories{
	width: 99%;
	margin-bottom: 20px;
}
.collapse{
	background-color: #239e5d !important;
}

.jumbotron{
	margin-bottom: 50px;
	height: 350px;
}

i {
	color: #00ff11;
	font-weight:bold;
}
i:hover{
	color: #fff;
}
.container{
	height: 300px !important;
	text-align: center;
}
.navbar-inverse{
	background-color:#239e5d !important;
	height: 60px;
	border-bottom: 5px  #9CBE21 solid !important;
	
	a{
		color: black !important;
		cursor: pointer !important;
	}
}
.navbar-header .navbar-collapse{
	margin-bottom: 25px !important;
	padding-top:15px !important;
}

.navbar-brand img{
/*	margin-bottom: 5px !important;*/
	margin-top: -10px !important;
	height: 48px;
}
.navbar-fixed-bottom{
	background-color: #239e5d !important;
	height: 50px;
	border-top: 5px  #9CBE21 solid !important;
}

.navbar-fixed-bottom>p{
	margin-top: 12px;
	font-size: .8em;
	a{
		font-size: 1.2em;}
}


