<div class="container footer">

	<footer class="navbar navbar-fixed-bottom">
		<p>Copyright&copy; Fide's Continuing Rails Education and Training 2015 
		<span>
		<%= link_to "#top", class:"btn btn-link footer-link" do %>
			<i class="fa fa-arrow-circle-up">Top</i>
		<% end %>
		</span></p>
	</footer>
</div>