<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('sitelogo.png'), root_path, class:"navbar-brand img img-responsive" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-spoon"> Recipes</i>
          <%end%>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-book"> Instructions</i>
          <%end%>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-cutlery"> Ingredients</i>
          <%end%>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search for recipes...">
      </form>
    </div>
  </div>
</nav>